@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
/*
#C5EBD6
#83E1AD
#3DDC84
#2FA866
#1A5C37
#063D1E
*/
:root { /*Todas as propriedas que forem aqui dentro, servirá para o documento inteiro*/
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
header {
    text-align: center;
    background-color:var(--cor4);
    font-family: var(--fonte-destaque);
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}
header > p {
    color: white;
}
nav {
    background-color: var(--cor5);
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
main {
    background-color: white;
}
main h1 {
    font-family: var(--fonte-android);
}
main h2 {
    font-family: var(--fonte-android);
}
footer {
    background-color: var(--cor5);
    color: white;
}